.TelaInicial {
    background-color: antiquewhite;
    height: 360px;
    width: 460px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: thistle;
}
h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 35px;
}
button {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 253, 249);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    border: thistle;
    box-shadow: 10px 6px 25px rgba(117, 116, 116, 0.473);
}
#txt {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.Ress {
    text-align: center;
    position: relative;
    top: -200px;
}
.temp {
    position: relative;
    top: 20px;
    font-size: 20px;
}