body {
    position: relative;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 71, 71);
}

img {
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.322);
}

header h1 {
    text-align: center;
    font-size: 30pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

section h1 {
    color: white;
    margin-top: 55px;
}

section {
    position: relative;
    margin: auto;
    padding-top: 12px;
    width: 600px;
    height: 540px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.452);
}

section div picture {
    position: relative;
    text-align: center;
    top: 10px;
}



