body {
    background-color: rgb(126, 245, 132);
    font: normal 15pt Arial;
}

header {
    color: white; 
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
}

section h2 {
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
}

section p {
    position: relative;
    font-size: 15px;
    top: -10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.ListTags {
    position: relative;
    font-size: 18px;
}

li {
    position: relative;
    margin-top: 5px;
}