body {
    text-align: center;
    background-color: bisque;
}

h1 {
    border: 10px seagreen;
}
button {
    width: 180px;
    height: 60px;
    font-family: sans-serif;
    font-size: 15px;
    border: khaki;
    cursor: pointer;
}
.tela {
    background-color: white;
    width: 560px;
    height: 200px;
    margin: auto;
    padding: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.473);
}