@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#FD8D58, #DC611E);
}

.wrapper {
    background: #f6f6f6;
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .section {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.section .emojis {
    height: 500%;
    display: flex;
    flex-direction: column;
}

.section .emojis li {
    list-style: none;
    height: 20%;
    width: 100%;
    transition: all 0.2s ease;
}

.section .emojis li img{
    height: 100%;
    width: 100%;
}

.wrapper .slider {
    height: 12px;
    width: 100%;
    background: #d9d9d9;
    margin-top: 40px;
    position: relative;
    border-radius: 50px;
}

.slider input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: none;
    -webkit-appearance: none;
    background: none;
}

.slider input::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
}

.slider .progess-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(45deg, #FD8D58, #DC611E);
    border-radius: 50px;
}

.slider .thumb {
    height: 25px;
    width: 25px;
    background: #DC611E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
    padding: 2px;
    pointer-events: none;
}

.slider .thumb span{
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(#FD8D58, #DC611E);
    border: 2px solid #f6f6f6;
    border-radius: 50%;
}