@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');
body {
    position: relative;
    background-color: rgba(255, 255, 255, 0.699);
    top: 200px;
}
header {
    text-align: center;
    font-size: 19pt;
    font-family: 'Josefin Slab', serif;
}

div {
    text-align: center;
}
.Btn {
    width: 470px;
    height: 50px;
    border: none;
    border-bottom: none;
    font-size: 14pt;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 3px 3px 5px 2px rgba(255, 255, 255, 0.473);
    border-radius: 10px 1px 10px 1px;
}