@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

body {
    background-color: rgb(245, 126, 126);
    font: normal 15pt Arial;
}

header {
    color: white; 
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

section {
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

section div {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 4px 1px rgba(255, 0, 0, 0.205);
}

section div input {
    outline: none;
    border-color: rgba(255, 99, 71, 0.397);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.233);
}

section div .Ipp01 {
    position: relative;
    left: 10px;
}

section div .Ipp02 {
    position: relative;
    left: 27px;
}

section div .Ipp03 {
    position: relative;
    left: 9px;
}

section div button {
    position: relative;
    left: 66px;
    width: 100px;
    height: 40px;
    font-size: 12pt;
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.329);
    border-color: rgba(255, 38, 0, 0.212);
}
